.features-section {
  @include media(desktop) {
  }
}

.features-section-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.features-container {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444;
  text-align: center;
  color: #fff;
  margin-bottom: 22px;

  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 22px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }
}

.features-list-item {
  background: #27273d;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 22px;
  padding: 21px;
  width: 100%;
  max-width: 343px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  @include media(desktop) {
    max-width: 589px;
    min-height: 134px;
  }
}

.features-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18182;
  color: #fff;

  @include media(desktop) {
  }
}

.features-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.44444;
  color: #fff;

  @include media(desktop) {
  }
}

.features-bottom-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #fff;

  @include media(desktop) {
  }
}
