.progress-section {
  background: #27273d;

  @include media(desktop) {
  }
}

.progress-section-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 1440px;
  }
}

.progress-container {
  @include media(desktop) {
  }
}

.progress-title {
  @include media(desktop) {
  }
}

.progress-list {
  display: flex;
  flex-direction: column;
  gap: 22px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.progress-list-item {
  max-width: 343px;

  @include media(desktop) {
    max-width: 385px;
  }
}

.progress-item-number {
  background: #7b61ff;
  border-radius: 12px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 46px;
  width: 46px;
  height: 46px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  @include media(desktop) {
  }
}

.progress-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18182;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.progress-item-features-list {
  background: #27273d;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 22px;
  padding: 21px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 22px;

  @include media(desktop) {
  }
}

.progress-features-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
  }
}

.progress-features-item-circle {
  background: #7b61ff;
  border-radius: 16777200px;
  min-width: 8px;
  width: 8px;
  height: 8px;

  @include media(desktop) {
  }
}

.progress-features-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.44444;
  color: #fff;

  @include media(desktop) {
  }
}

.progress-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
  }
}
