<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="531"
            height="472"
          />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="305"
          />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="305"
            loading="lazy"
          />
        </picture>
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">
            A Puzzle Built on Simplicity
          </h2>
          <div class="about-text-container">
            <p class="about-text">
              So we got rid of all those typical maze walls and stuff you
              usually see in puzzle games.
            </p>
            <p class="about-text">
              Instead of blocking you with complexity,<br />
              it challenges your ability to:
            </p>
            <ul class="about-list">
              <li class="about-list-item">
                <div class="about-item-circle"></div>
                <p class="about-item-text">Think ahead</p>
              </li>
              <li class="about-list-item">
                <div class="about-item-circle"></div>
                <p class="about-item-text">Minimize turns</p>
              </li>
              <li class="about-list-item">
                <div class="about-item-circle"></div>
                <p class="about-item-text">Reduce segments</p>
              </li>
              <li class="about-list-item">
                <div class="about-item-circle"></div>
                <p class="about-item-text">Plan efficiently</p>
              </li>
            </ul>
            <p class="about-text">
              The board is open.<br />
              The tricky part? Every single decision you make actually matters.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
