<section class="experience-section section" id="experience">
  <div class="experience-section-wrapper">
    <div class="container experience-container">
      <h2 class="section-title experience-title">Minimal by Design</h2>
      <p class="experience-text">
        The plain feels open.<br />
        The paths you make give it some organization.
      </p>
      <ul class="experience-list">
        <li class="experience-list-item">
          <p class="experience-item-text">The grid looks pretty clean</p>
        </li>
        <li class="experience-list-item">
          <p class="experience-item-text">Soft neutral palette</p>
        </li>
        <li class="experience-list-item">
          <p class="experience-item-text">Subtle line animations</p>
        </li>
        <li class="experience-list-item">
          <p class="experience-item-text">Calm movement speed</p>
        </li>
        <li class="experience-list-item">
          <p class="experience-item-text">Clear geometric interface</p>
        </li>
      </ul>
      <p class="experience-bottom-text">
        Sound design:<br />
        Light footstep rhythm.<br />
        Soft line placement clicks.
      </p>
    </div>
  </div>
</section>
