<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <a class="header-logo-link" href="./">Plain Route</a>
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#about">The Concept</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#gameplay">How It Works</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#features"
            >Efficiency System</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#progress">Progression</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#reviews">Testimonials</a>
        </li>
      </ul>
      <button class="nav-btn" type="button" aria-label="Open mobile menu">
        <svg class="menu-icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="close-btn" type="button" aria-label="Close mobile menu">
        <svg class="close-icon" width="28" height="28">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
