<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <div class="hero-text-wrapper">
          <h1 class="hero-title">
            Plain Route:<br />
            Open Terrain
          </h1>
          <div class="hero-text-container">
            <p class="hero-text">
              An open plain stretches before you.<br />
              No walls. No barriers. No noise.
            </p>
            <p class="hero-text">
              Your task is simple:<br />
              Guide travelers from point A to point B.
            </p>
            <p class="hero-text">
              The board may look complete.<br />
              But only one pathway is true.
            </p>
            <p class="hero-text-block">
              Honestly thought this would be super easy when I first saw it, but
              man was I wrong - gets way harder than you'd expect.
            </p>
            <p class="hero-text">
              Use the fewest possible route segments.<br />
              Create the cleanest possible path.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="./img/hero/hero-img-desk.png"
            media="(min-width: 1440px)"
            width="625"
            height="556"
          />
          <source
            srcset="./img/hero/hero-img-mob.png"
            width="343"
            height="220"
          />
          <img
            class="hero-img"
            src="./img/hero/hero-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="220"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
