<section class="progress-section section" id="progress">
  <div class="progress-section-wrapper">
    <div class="container progress-container">
      <h2 class="section-title progress-title">
        From Open Fields to Complex Patterns
      </h2>
      <ul class="progress-list">
        <li class="progress-list-item">
          <p class="progress-item-number">1</p>
          <p class="progress-item-title">Early Levels:</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">Short distances</p>
            </li>
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">Obvious shortest routes</p>
            </li>
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">
                Learning efficiency basics
              </p>
            </li>
          </ul>
          <picture>
            <source
              srcset="./img/progress/progress-img1-desk.png"
              media="(min-width: 1440px)"
              width="385"
              height="128"
            />
            <source
              srcset="./img/progress/progress-img1-mob.png"
              width="343"
              height="200"
            />
            <img
              class="progress-img"
              src="./img/progress/progress-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="200"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="progress-list-item">
          <p class="progress-item-number">2</p>
          <p class="progress-item-title">Mid Game:</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">Multiple travelers</p>
            </li>
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">Shared segments</p>
            </li>
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">Limited route placement</p>
            </li>
          </ul>
          <picture>
            <source
              srcset="./img/progress/progress-img2-desk.png"
              media="(min-width: 1440px)"
              width="385"
              height="128"
            />
            <source
              srcset="./img/progress/progress-img2-mob.png"
              width="343"
              height="200"
            />
            <img
              class="progress-img"
              src="./img/progress/progress-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="200"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="progress-list-item">
          <p class="progress-item-number">3</p>
          <p class="progress-item-title">Advanced:</p>
          <ul class="progress-item-features-list">
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">
                Route intersection rules
              </p>
            </li>
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">One-way segments</p>
            </li>
            <li class="progress-features-list-item">
              <div class="progress-features-item-circle"></div>
              <p class="progress-features-item-text">Grid expansion</p>
            </li>
          </ul>
          <picture>
            <source
              srcset="./img/progress/progress-img3-desk.png"
              media="(min-width: 1440px)"
              width="385"
              height="128"
            />
            <source
              srcset="./img/progress/progress-img3-mob.png"
              width="343"
              height="200"
            />
            <img
              class="progress-img"
              src="./img/progress/progress-img3-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="200"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
